{
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "rules": {
    "semi": [1, "always"],
    "no-console": 2,
    "indent": [1, 2],
    "space-infix-ops": ["error"],
    "comma-spacing": ["error"]
  }
}
