{
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8
  },
  "extends": ["eslint:recommended", "google"],
  "rules": {
    "indent": [1, 2],
    "comma-spacing": ["error"],
    "space-before-function-paren": ["error", "never"],
    "space-before-blocks": ["error", "always"],
    "require-jsdoc": ["off"]
  }
}
