RewriteEngine on
RewriteBase /

RewriteCond %{QUERY_STRING} ^name=(.*)$ [NC]
RewriteRule ^(.*)$ %{REQUEST_URI}%1\? [NC,R]

# If request is for file, skip next rule
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule (.*) - [S=1]

# Send all requests (that are excepted by the condition above) to index.html
RewriteCond %{REQUEST_URI} ^\/([^?].*)$ [NC]
RewriteRule ^(.*)$ /index.html [L]
